@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Uncial+Antiqua&display=swap");

:root {
  --green: #395b40;
}

@keyframes coolTransition {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  height: 100dvh;
  font-family: "Poppins";
  background-color: #f6fff8;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

.logo {
  font-family: "Uncial Antiqua";
  text-decoration: none;
  color: #fff;
}

.logo h1 {
  font-weight: normal;
  font-size: 1.5rem;
}

h1,
ul {
  margin-bottom: 0;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  background-color: rgba(57, 91, 64, 0.95);
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  z-index: 99;
  height: 10dvh;
  border-bottom: 1px solid #ffffff15;
}

#toggleSideBar {
  display: none;
}

nav ul {
  display: flex;
  gap: 2.2rem;
}

nav ul.active::after {
  display: none;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  color: #cccccc;
  font-size: 0.95rem;
  font-family: "Poppins";
  text-decoration: none;
  transition: all 0.3s;
}

nav ul li a:hover {
  color: #fff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(57, 91, 64, 0.7);
}

header img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 90%;
}

header h1 {
  font-family: "Uncial Antiqua";
  font-size: 6.5rem;
}

header .main-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  letter-spacing: 0.25rem;
}

header .main-content a {
  color: black;
  background-color: #fff;
  border: 1px solid #fff;
  margin-top: 20px;
  padding: 15px 50px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s;
}

header .main-content a:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

section {
  height: 100dvh;
}

section h1 {
  font-family: "DM Serif Display";
  font-size: 4rem;
  font-weight: normal;
}

section:nth-of-type(odd) {
  background-color: #395b40;
  color: #fff;
}

/* SECTION SIDOWARAS STYLE */
.logo-sda {
  position: absolute;
  width: 6rem;
  margin-top: 1rem;
  left: 1rem;
}

.jayandaru {
  display: flex;
  height: 100%;
  border-radius: 0px 200px 0px 0px;
}

main .sidowaras {
  width: 100%;
  height: 100dvh;
  justify-content: space-between;
  padding-right: 5rem;
  text-align: end;
}

main .sidowaras .desc-sda {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .desc-sda .sidowaras .desc-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

main .desc-sda .desc-title hr {
  margin-left: auto;  
  width: 60%;
}

main .desc-sda .detail-desc p {
  margin-top: 20px;
  font-size: 0.95rem;
  text-align: justify;
}
/* SECTION SIDOWARAS END */

/* SECTION NUTRIZI */
.nutrizi {
  height: 100dvh;
  display: flex;
  gap: 5rem;
}

.nutrizi hr {
  width: 60%;
  border: none;
  border-bottom: 1px solid black;
}

.img-nutrizi img {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 50dvw;
  object-fit: cover;
  align-items: flex-end;
  border-radius: 100rem 0 0 100rem;
}

.desc-nutrizi {
  margin-left: 5rem;
  display: flex;
  text-align: justify;
  flex-direction: column;
  justify-content: center;
}

.desc-nutrizi p {
  margin-top: 20px;
  font-size: 0.95rem;
}
/* SECTION NUTRIZI END */

/* SECTION DATA NUTRISI */
.data {
  height: 100dvh;
  display: flex;
  gap: 10rem;
  text-align: end;
}

.data a {
  color: #fff;
}

.desc-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 5rem;
}

.desc-data hr {
  width: 60%;
  margin-left: auto;
}

.desc-data p {
  margin-top: 20px;
  font-size: 0.95rem;
  text-align: justify;
}

.desc-data .source {
  font-size: 0.6rem;
}

.desc-data .source i {
  font-size: 0.5rem;
}

.img-data img {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 40dvw;
  object-position: right center;
  object-fit: cover;
  align-items: flex-end;
}
/* SECTION DATA NUTRISI END */

/* ACCORDION */
.accordion {
  background-color: #395b40;
  color: #fff;
  cursor: pointer;
  padding: 18px !important;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(235, 252, 235, 0.2);
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #4b7253;
}

.accordion:after {
  font-family: "Material Symbols Outlined";
  content: "keyboard_arrow_down";
  color: #fff;
  font-size: 1.2rem;
  float: right;
  margin-left: 5px;
}

.accordion:first-of-type {
  border-radius: 5px 5px 0 0;
}

.accordion:last-of-type {
  border-radius: 0 0 5px 5px;
}

.active:after {
  font-family: "Material Symbols Outlined";
  content: "keyboard_arrow_up";
  color: #fff;
}

.panel {
  padding: 0 18px;
  background-color: #4b7253;
  color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.panel:last-of-type {
  border-radius: 0 0 5px 5px;
}

.panel p {
  padding: 10px 0px;
}

.panel ol {
  padding: 10px 18px;
}

/* SECTION BMI */
.bmi {
  height: fit-content;
  display: flex;
  gap: 5rem;
  padding: 3rem 0;
}

.bmi hr {
  width: 60%;
}

.desc-bmi {
  margin-left: 5rem;
  width: 80dvw;
}

.img-bmi {
  overflow: hidden;
}

.img-bmi img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  clip-path: circle(50%);
}

.bmi .hitung {
  background-color: #395b40;
  border: 1px solid #395b40;
  padding: 0.8rem 4rem;
  margin-top: 1.3rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.lihat {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  background-color: #395b40;
  border: 1px solid #395b40;
  padding: 0.8rem 4rem;
  margin-top: 1.3rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.lihat:hover {
  background-color: transparent;
  border: 1px solid #395b40;
  color: #395b40;
}

.bmi .panel {
  text-align: justify;
}

.bmi .hitung:hover {
  background-color: transparent;
  border: 1px solid #395b40;
  color: #395b40;
}

/* INPUT BMI */
.bmi #inputBmiOverlay {
  align-items: center;
  justify-content: center;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 100;
  cursor: default;
}

.bmi #inputBmiOverlay .bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.bmi .bmiInputContainer .bmiInputWrapper {
  background-color: #f6fff8;
  border-radius: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  width: 40%;
  animation: coolTransition 0.5s;
}

.bmi .bmiInputContainer .bmiInputWrapper .title-input h1 {
  font-family: "poppins";
  font-weight: 500;
  font-size: 2rem;
}

.bmi .bmiInputContainer .bmiInputWrapper .title-input hr {
  width: 65%;
}

.bmi .bmiInputContainer .bmiInputWrapper .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.bmi .bmiInputContainer .bmiInputWrapper #input {
  width: 100%;
  border: 1px solid #395b40;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bmi .bmiInputContainer .bmiInputWrapper .input input {
  background-color: #fff;
  border: 1px solid #ccc !important;
  border-radius: 5px;
  height: 2.5rem;
  padding: 0 15px;
}

.bmi .bmiInputContainer .bmiInputWrapper .input input:focus {
  outline: none;
  border: 1px solid #395b40 !important;
}

.bmi .bmiInputContainer .bmiInputWrapper .input .submitBmi {
  background-color: #395b40;
  border-radius: 5px;
  height: 2.5rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.bmi .bmiInputContainer .bmiInputWrapper .input .submitBmi:hover {
  background-color: #4b7253;
}

.bmi .bmiInputContainer .bmiInputWrapper .input .kembali {
  background-color: #f6fff8;
  border-radius: 5px;
  height: 2.5rem;
  color: #395b40;
  cursor: pointer;
}

.bmi .bmiInputContainer .bmiInputWrapper #output.output {
  display: none;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
  animation: coolTransition 0.3s;
}
/* INPUT BMI END */

/* SECTION BMI END */

/* SECTION BMR */
.bmr {
  height: fit-content;
  display: flex;
  gap: 5rem;
  padding: 3rem 0;
  box-shadow: 0px 10px 0px 10px rgba(57, 91, 64, 1) !important;
}

.bmr hr {
  width: 60%;
  margin-left: auto;
}

.desc-bmr {
  text-align: right;
  margin-right: 5rem;
  width: 80dvw;
}

.img-bmr {
  width: 500px;
  padding-top: 40px;
}

.img-bmr img {
  /* position: absolute;
    left: -5rem; */
  width: 30rem;
  height: 30rem;
  object-fit: cover;
  clip-path: circle(50%);
}

.bmr .accordion {
  background-color: #f6fff8;
  color: #395b40;
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid rgb(57, 91, 64, 0.3);
}

.bmr .panel {
  padding: 0 18px;
  background-color: #ebfceb;
  color: #395b40;
  text-align: justify;
}

.bmr .accordion-pack p {
  text-align: justify;
}

.bmr .accordion:hover {
  background-color: #ebfceb;
}

.bmr .accordion:after {
  color: #395b40;
}

.bmr .active:after {
  color: #395b40;
}

.bmr .hitung {
  background-color: #f6fff8;
  border: 1px solid #f6fff8;
  padding: 0.8rem 4rem;
  margin-top: 1.3rem;
  border-radius: 5px;
  color: #395b40;
  cursor: pointer;
  transition: 0.3s;
}

.bmr .hitung:hover {
  border: 1px solid #f6fff8;
  background-color: #395b40;
  color: #f6fff8;
}

/* INPUT BMR */
.bmr #inputBmrOverlay {
  align-items: center;
  justify-content: center;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  cursor: default;
}

.bmr .bmrInputWrapper {
  background-color: #395b40;
  border-radius: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
  width: 40%;
  height: fit-content;
  animation: coolTransition 0.5s;
}

.bmr .bmrInputWrapper .title-input {
  color: #fff;
}

.bmr .bmrInputWrapper .title-input h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 2rem;
}

.bmr .bmrInputWrapper .title-input hr {
  width: 55%;
  margin-left: 0;
}

.bmr .bmrInputWrapper .input {
  display: grid;
  grid-template-areas:
    "inputBbBmr inputUsia"
    "inputTbBmr jekel"
    "aktivitas aktivitas"
    "submit submit"
    "kembali kembali";
  gap: 15px;
}

.bmr .bmrInputContainer .bmrInputWrapper .input input,
.bmr .bmrInputContainer .bmrInputWrapper .input select {
  background-color: #f6fff8;
  border: 1px solid #ccc !important;
  border-radius: 5px;
  height: 2.5rem;
  padding: 0 15px;
}

.bmr .bmrInputContainer .bmrInputWrapper .input select {
  cursor: pointer;
}

.bmr .bmrInputContainer .bmrInputWrapper .input input:focus,
.bmr .bmrInputContainer .bmrInputWrapper .input select:focus {
  color: black;
  outline: none;
  border: 1px solid #f6fff8 !important;
  box-shadow: 0px 0px 5px #f6fff8;
}

.bmr .bmrInputWrapper #input {
  border-radius: 5px;
  padding: 6px;
}

.bmr .bmrInputWrapper .input .tingkatAktivitas {
  grid-area: aktivitas;
}

.bmr .bmrInputWrapper .input .submitBmr {
  grid-area: submit;
  background-color: #f6fff8;
  border: none;
  border: 1px solid #f6fff8;
  border-radius: 5px;
  height: 2.5rem;
  color: #395b40;
  cursor: pointer;
  transition: 0.3s;
}

.bmr .bmrInputWrapper .input .submitBmr:hover {
  background-color: #fff;
}

.bmr .bmrInputWrapper .input .kembali {
  grid-area: kembali;
  background-color: #395b40;
  border: none;
  border-radius: 5px;
  border: 1px solid #f6fff8;
  height: 2.5rem;
  color: #f6fff8;
  cursor: pointer;
  transition: 0.3s;
}

.bmr .bmrInputContainer #outputBmr.outputBmr {
  display: none;
  align-items: center;
  justify-content: center;
  animation: coolTransition 0.3s;
  flex-direction: column;
  text-align: justify;
}

.bmr .bmrInputContainer #outputBmr.outputBmr .bmr-table {
  border-radius: 3px;
  margin: 20px 0;
  color: black;
  background-color: #F6FFF8;
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0;
}

.bmr .bmrInputContainer #outputBmr.outputBmr .bmr-table th {
  padding: 3px;
  border: solid 1px #395b40;
}

.bmr .bmrInputContainer #outputBmr.outputBmr .bmr-table td {
  padding: 3px;
  border: solid 1px #395b40;
}
/* SECTION BMR END */

/* SECTION QUOTE */
.quote {
  background-color: #f6fff8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  color: #395b40;
  height: 80dvh;
}

.quote h1 {
  font-size: 2.5rem;
}

.quote hr {
  margin-top: 30px;
  width: 15rem;
  border: none;
  border-bottom: 1px solid #395b40;
}
/* SECTION QUOTE END */

footer {
  display: flex;
  background-color: #395b40;
  padding: 40px 100px;
  justify-content: space-between;
  cursor: default;
}

footer h1 {
  font-family: "Uncial Antiqua";
  color: #fff;
}

hr {
  margin-top: 12px;
  margin-bottom: 25px;
  opacity: 1;
}

footer .middle {
  width: 33%;
}

footer .icons {
  color: #fff;
}

footer .icons .fab {
  padding: 20px;
  font-size: 1.6em;
}

footer .social .invisible {
  color: #395b40;
}

footer .social {
  display: flex;
  padding: 0.3rem 0;
  color: #fff;
  gap: 1.2em;
}

footer .social .fas {
  font-size: 0.9em;
}

footer .middle .title p {
  font-size: 0.9rem;
}

footer .social p {
  font-family: "Poppins";
  font-size: 0.8rem;
}

footer .left hr {
  border: none;
  border-bottom: 1px solid #fff;
}

footer .right {
  display: flex;
  flex-direction: column;
}

footer .right-title {
  font-size: 0.9rem;
}

footer .right p {
  text-decoration: none;
  color: #fff;
  font-family: "Poppins";
}

footer .right a {
  font-size: 0.8rem;
  text-decoration: none;
  color: #ccc;
  font-family: "Poppins";
  margin-top: 10px;
  transition: 0.3s;
}

footer .right a:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  nav #toggleSideBar {
    display: inline-block;
    color: white;
  }

  nav #toggleSideBar i {
    font-size: 1.3rem;
  }

  nav .logo h1 {
    font-size: 1.2rem;
  }

  nav ul {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(57, 91, 64, 0.95);
    width: 40%;
    height: 100vh;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 20px;
    padding-top: 30px;
    /* align-items: center; */
  }

  nav ul.active {
    right: 0;
  }

  nav ul.active::after {
    display: none;
  }
  nav li {
    display: flex;
    align-items: center;
    padding-left: 1rem;
    /* justify-content: center; */
  }

  nav li a {
    font-size: 0.9rem !important;
    color: #fff !important;
    text-align: left;
  }

  header {
    width: 100dvw;
  }

  header h1 {
    font-size: 2.5rem;
  }

  header .main-content {
    font-size: 0.7rem;
    text-align: center;
    padding: 0 25px;
  }

  header .main-content a {
    padding: 10px 40px;
  }

  section {
    height: fit-content !important;
    text-align: left !important;
    flex-direction: column;
    width: 100dvw;
    overflow: hidden;
    gap: 0rem !important;
    padding-top: 0 !important;
    padding-bottom: 3rem !important;
  }

  section hr {
    width: 50% !important;
  }

  section h1 {
    font-size: 2rem;
    padding-top: 2rem;
  }

  section p {
    margin-top: 10px !important;
    font-size: 0.8rem !important;
  }

  /* SECTION SIDOWARAS */
  .logo-sda {
    width: 3rem;
  }

  main .sidowaras {
    padding-right: 0;
    padding-bottom: 3rem;
  }

  .jayandaru {
    width: 100dvw;
    height: 25rem;
    object-fit: cover;
    border-radius: 0px;
  }

  .sidowaras .desc-sda {
    padding: 0 20px;
    width: 100% !important;
  }

  .sidowaras .desc-sda .desc-title hr {
    margin-left: 0;
  }
  /* SECTION SIDOWARAS END */

  /* SECTION NUTRIZI */
  .nutrizi {
    flex-direction: column-reverse;
  }

  .img-nutrizi img {
    position: absolute;
    z-index: -1;
    object-position: -250px center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .desc-nutrizi {
    margin-left: 0;
    padding: 0 20px;
    width: 60%;
  }
  /* SECTION NUTRIZI END */

  /* SECTION DATA */
  .img-data img {
    width: 100%;
  }

  .data hr {
    margin-left: 0;
  }

  .desc-data .source a {
    display: block;
    width: 100%;
    word-break: break-all;
  }

  .desc-data {
    padding: 0 20px;
    margin-right: 0;
  }

  .desc-data .source {
    font-size: 0.7rem !important;
  }
  /* SECTION DATA END */

  /* ACCORDION */
  .accordion-pack span {
    font-size: 0.8rem;
  }

  .accordion {
    padding: 0.5rem !important;
  }

  .panel p {
    padding: 0 0 10px 0;
  }
  /* ACCORDION END */

  /* BMI */
  .bmi {
    position: relative;
  }

  .bmi li {
    font-size: 0.8rem;
  }

  .desc-bmi {
    padding: 0 20px;
    margin-left: 0;
    width: 100%;
  }

  .desc-bmi h1 {
    width: 70%;
  }

  .img-bmi img {
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    right: -200px;
    width: 23rem;
    height: 23rem;
  }
  /* INPUT BMI */
  .bmi .bmiInputContainer .bmiInputWrapper {
    width: 80%;
  }

  .bmi .bmiInputContainer .bmiInputWrapper .title-input h1 {
    padding-top: 0;
    font-size: 1.5rem;
  }

  .bmi .bmiInputWrapper #input {
    padding: 10px;
    height: 2rem;
    font-size: 0.8rem;
  }

  .bmi .bmiInputContainer .bmiInputWrapper .input {
    gap: 10px;
  }

  .bmi .hitung,
  .bmr .hitung {
    padding: 10px 20px;
  }
  /* BMI END */

  /* BMR */
  .bmr {
    position: relative;
  }

  .bmr li {
    font-size: 0.8rem;
  }

  .desc-bmr {
    padding: 0 20px;
    text-align: left;
    width: 100%;
    z-index: 2;
  }

  .desc-bmr hr {
    margin-left: 0
  }

  .desc-bmr h1 {
    width: 70%;
    padding: 0;
  }

  .img-bmr img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -200px;
    width: 23rem;
    height: 23rem;
  }
  /* INPUT BMR */
  .bmr .bmrInputContainer .bmrInputWrapper {
    width: 80%;
    overflow: scroll;
  }

  .bmr .bmrInputContainer .bmrInputWrapper .title-input h1 {
    padding-top: 0;
    font-size: 1.5rem;
  }

  .bmr .bmrInputWrapper #input {
    padding: 0 6px;
    height: 2rem;
    font-size: 0.8rem;
  }

  .bmr .bmrInputContainer .bmrInputWrapper .input {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .bmr .bmrInputContainer #outputBmr.outputBmr {
    padding: 0;
  }

  .bmr .bmrInputContainer #outputBmr.outputBmr p {
    margin: 0 !important;
  }

  .bmr .bmrInputContainer #outputBmr.outputBmr .bmr-table th {
    font-size: 0.8rem;
    padding: 5px;
  }

  .bmr .bmrInputContainer #outputBmr.outputBmr .bmr-table td {
    font-size: 0.8rem;
    padding: 5px;
  }
  /* BMR END */

  .quote {
    height: 50dvh !important;
  }

  .quote h1 {
    text-align: center;
    font-size: 1.8rem;
    width: 90%;
  }

  .quote hr {
    margin-top: 20px;
    width: 40% !important;
  }

  footer {
    padding: 10% 15%;
    flex-direction: column;
  }

  footer .left {
    text-align: center;
    width: 100% !important;
  }

  footer .left hr {
    margin: 15px auto;
    width: 70% !important;
  }

  footer .left .icons i {
    font-size: 1.4rem;
    padding: 15px;
  }

  footer .middle {
    width: 100% !important;
    margin: 15px 0;
  }

  footer .middle .social {
    text-align: center;
    flex-direction: column;
    gap: 0.7em;
    margin: 7px 0;
  }

  footer .middle .title p {
    width: 100%;
    text-align: center;
    font-size: 1rem !important;
  }

  footer .middle .invisible {
    display: none;
  }

  footer .middle .social p {
    font-size: 0.8rem;
  }

  footer .middle .social i {
    font-size: 1.2rem;
  }

  footer .right {
    text-align: center;
    width: 100% !important;
    margin: 15px 0;
  }
}   